#nav-bar{
    background-color: #474B4f;
}

#links li a{
    font-weight: bold;
    color: #86C232;
}

#links li a:hover{
    border-radius: 5px;
    background-color: #86C232;
    color: #474B4f;
}

@media only screen and (max-width: 768px){
    #links li a{
        font-size: 0.7em;
    }

    #about-me{
        font-size: 0.6em;
    }
}

#background{
    background-color: #222629;
}

#home{
    height: 100vh;
}

#biography{
    height: 100vh;
}

#biography p{
    font-size: 1.8em;
}

#name{
    color: #86C232;
}

#biography-title{
    color: #86C232;
}

#github a{
    background-color: #86C232;
    color: #222629;
    font-weight: bold;
}

#codepen a{
    background-color: #86C232;
    color: #222629;
    font-weight: bold;
}



#hobbies-title{
    color: #86C232;
}

#gym{
    background-color: #6B6E70;
    border: 3px solid #86C232;
}

#football{
    background-color: #6B6E70;
    border: 3px solid #86C232;
}

#basket{
    background-color: #6B6E70;
    border: 3px solid #86C232;
}

#galery-title{
    color: #86C232;
}

#contact-title{
    color: #86C232;
}

footer{
    background-color: #474B4f;
    height: 3.5rem;

}

footer a{
    color: #86C232;
}

#sledece{
    color: red;
}